*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    border: solid green 1px;
    justify-content: space-between ;
}
.box{
    display: flex;
    /* flex-direction: column; */
    width: 50%;
    padding: 10px;
    gap: 10px;
    border: solid slategrey 1px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0.5px;

}
.box:hover{
    background-color: rgba(112, 128, 144, 0.111);
}
textarea{
    width: 400px;
    height: 100px;
}
.output{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    align-items: center;
}
strong, p{
    text-align: center;
}


.innerBox{
    display: flex;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: fit-content;
    /* border: solid red 1px; */
    justify-content: center;
    justify-items: center;

}
.inputbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    height: fit-content;
    /* margin-top: 500px; */
    /* border: solid red 1px; */

}